.btn {
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %btn;
  margin-bottom: em(20px, 14px);
  display: inline-block;
  margin-right: em(15px, 14px);

  @include display-desktop {
    align-self: stretch;
  }
}